.hh-dialog-small {
  width: 400px;
  max-width: 90vw;
}

.hh-dialog-medium {
  width: 600px;
  max-width: 90vw;
}

.hh-dialog-large {
  width: 800px;
  max-width: 90vw;
}

.hh-dialog-fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

